<%= form_for(@grade) do |f|%>

<%= render partial: 'layouts/errors', locals: {object: @grade} %>
  <!-- f.hidden_field :course_id, :value => @course.id %>  %> -->
<div>
  <%= f.label :student_id, "Select a Student" %>
  <%= f.collection_select :student_id, Student.alpha, :id, :last_name %>

</div>
<br>
<div>
     <%= f.label :value %>
     <%= f.number_field :value, min:0, max:100 %>
</div>
<br></br>
<div>
  <%= f.label :comment %>
  <%= f.text_field :comment%>
</div>

<%= f.submit %>
<% end %>
