<h2>Enter Grades </h2>
<%= render partial: "layouts/errors", locals: { object: @grade } %>


<%= form_for([@course, @grade]) do |f|%>
<table class='table table-bordered'>
  <thead>
    <tr>
      <th style="width:300px;">Student </th>

      <th style="width:50px;">Grade</th>
      <th >Comment</th>
    </tr>
  </thead>
  <tbody>

    <% @students.each.with_index do |student, index| %>
      <tr>
         <td><%= student.last_name %> ,<%= student.first_name%></td>
           <% grade=student.grades.find_by course_id: @course.id %>
            <% if grade %>
              <td> <%= grade[:value] %> </td>
              <td> <%= grade[:comment]%> </td>
           <% else %>

              <td> NG </td>
              <td> No Comment </td>
          <% end %>
      </tr>
    <% end %>

  </tbody>
</table>


    <%= f.hidden_field :course_id, :value => @course.id %>
    <div>
      <%= f.label :student_id, "Enter Grade for " %>
      <%= f.collection_select :student_id, Student.all, :id, :last_name  %>

    <br>

  <div>
       <%= f.label :value %>
       <%= f.number_field :value, min:0, max:100 %>
  </div>
  <br></br>
  <div>
    <%= f.label :comment %>
    <%= f.text_field :comment %>
  </div>


<%= f.submit %>
<% end %>
