<!--This will be the dashboard for specific student  -->
<!--List of courses with the associated grade  -->
<!--   -->

<h3>Dashboard for: <%= @student.first_name %>, <%=@student.last_name %></h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th style="width:300px;">Course </th>

      <th style="width:50px;">Grade</th>
      <th >Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @student_courses.each.with_index do |course, index| %>
      <tr>

            <td><%= course[:coursename] %> </td>
             <% if index < @grades.count %>
               <td><%= @grades[index][:value] %></td>
               <td><%= @grades[index][:comment] %></td>
            <% else %>
               <td> NG </td>
               <td>No Comment </td>
            <% end %>

      </tr>
    <% end %>

  </tbody>
</table>
          <% if current_user %>
          <p>


           Will add a link here


          </p>

          <% end %>
