<%= form_for(@course) do |f| %>

<%= render partial: 'layouts/errors', locals: {object: @course} %>
   <p> Create a New Course </p>



  <%= f.label :coursename %>
  <%= f.text_field :coursename %>



<%= f.submit %>


<% end %>
