<%= form_for(@course) do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @course} %>

  <%= f.label :coursename %>
  <%= f.text_field :coursename %>


  

  <br><br>

  <%= f.label :student_id, "Select a Student" %>
  <%= f.collection_select :student_id, Student.all, :id, :last_name, prompt: true %>
  <br><br>

  <% if !params[:student_id] %>
    <h4>Or add a new student:</h4>

    <%= f.fields_for :students do |v|%>
        <%= v.label :first_name %>
        <%= v.text_field :first_name %>

        <%= v.label :last_name %>
        <%= v.text_field :last_name %>


    <% end %>
  <% end %>

  <br><br>
  <%= f.submit %>

<% end %>
