


<h3>Course: <%= @course.coursename %></h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th style="width:300px;">Student </th>

      <th style="width:50px;">Grade</th>
      <th >Comment</th>
    </tr>
  </thead>
  <tbody>
    <% @students.each_with_index do |student, index| %>
      <tr>
         <td><%= student.last_name %> ,<%= student.first_name%></td>
        <% if @course.id = student.grades[index].course_id %>
          <td><%= student.grades[index].value %></td>
          <td><%= student.grades[index].comment %></td>
       <% end %>
      </tr>
    <% end %>

  </tbody>
</table>

<% if @course.user == current_user %>
<p>
    <button class="btn btn-outline-primary">
        <%= link_to "Add Student", new_student_path(@course) %></button>

        <%= link_to "Edit Grades", edit_grade_path(@course) %></button>
    <button class="btn btn-outline-primary">
     
        <%= link_to "Enter Grades", new_course_grade_path(@course) %></button>
    <button class="btn btn-outline-primary">


        <%= link_to "Delete Course", course_path(@course), data: { confirm: 'Are you sure?' }, method: :delete  %> </button>

</p>

<% end %>
