


<h3>Course: <%= @course.coursename %></h3>

<table class='table table-bordered'>
  <thead>
    <tr>
      <th style="width:300px;">Student Count </th>

      <th style="width:50px;">Grades Completed</th>
      <th >Comments Completed</th>
    </tr>
  </thead>
  <tbody>

      <tr>
         <td><%= @students.count %> </td>
        <td><%= @course.grades.count %></td>
        <td><%= @course.grades{:comment}.count %></td>

      </tr>


  </tbody>
</table>

<% if @course.user == current_user %>
<p>



    <% if @course.grades.count < @students.count %>
        <%= link_to "Enter Grade/Comment", new_course_grade_path(@course) %></button>
    <button class="btn btn-outline-primary">
    <% end %>

    <%= link_to "All grades", course_grades_path(@course)%></button>
<button class="btn btn-outline-primary">

  

<% end %>
